@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.danger-zone {
  margin-top: 2rem;
  border: dashed 1px #dc322f;
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.field_with_errors input,
.field_with_errors textarea {
  border: solid 1px #dc322f;
}

.invalid-feedback {
  color: #dc322f;
  font-size: small;
}

.field {
  margin-bottom: 1rem;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

input[type="date"] {
  padding: 0.5rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;

  &:visited {
    color: #268bd2;
  }

  &:hover,
  &:focus {
    color: #2aa198;
    text-decoration: underline;
  }

  &:active {
    color: #dc322f;
  }
}

input,
textarea,
button {
  font-family: inherit;
}

.note {
  margin-bottom: 4rem;
}

.footer {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

body.dark {
  background-color: #262626;
  color: #eee8d5;
}

#lumos {
  cursor: pointer;
}
